<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.CrossCountry.Survey.mapper.dongl.AlarmMonitorLocalDao">

		<select id="getMethod1LocalNum" resultType="java.lang.Integer">
			select
			count(1)
			from
			THREAT_GROUP_LOGSUBTYPE a,REALTIME_WARNING b
			where
			a.PLATFORMTYPE = b.PLATFORMTYPE
			and
			a.DEVICESUBTYPE = b.DEVICESUBTYPE
			and
			a.LOGTYPE = b.LOGTYPE
			and
			a.SUBLOGTYPE = b.SUBLOGTYPE
			and
			a.METHOD= '外设接入'
			and b.WARNINGSTARTTIME >= to_char(sysdate,'yyyy-MM-dd')
		</select>

		<select id="getMethod2LocalNum" resultType="java.lang.Integer">
			select
			count(1)
			from
			THREAT_GROUP_LOGSUBTYPE a,REALTIME_WARNING b
			where
			a.PLATFORMTYPE = b.PLATFORMTYPE
			and
			a.DEVICESUBTYPE = b.DEVICESUBTYPE
			and
			a.LOGTYPE = b.LOGTYPE
			and
			a.SUBLOGTYPE = b.SUBLOGTYPE
			and
			a.METHOD= '异常登录' 
			and b.WARNINGSTARTTIME >= to_char(sysdate,'yyyy-MM-dd')
		</select>

		<select id="getMethod3LocalNum" resultType="java.lang.Integer">
			select
			count(1)
			from
			THREAT_GROUP_LOGSUBTYPE a,REALTIME_WARNING b
			where
			a.PLATFORMTYPE = b.PLATFORMTYPE
			and
			a.DEVICESUBTYPE = b.DEVICESUBTYPE
			and
			a.LOGTYPE = b.LOGTYPE
			and
			a.SUBLOGTYPE = b.SUBLOGTYPE
			and
			a.METHOD= '高危操作' 
			and b.WARNINGSTARTTIME >= to_char(sysdate,'yyyy-MM-dd')
		</select>

		<select id="getMethod4LocalNum" resultType="java.lang.Integer">
			select
			count(1)
			from
			THREAT_GROUP_LOGSUBTYPE a,REALTIME_WARNING b
			where
			a.PLATFORMTYPE = b.PLATFORMTYPE
			and
			a.DEVICESUBTYPE = b.DEVICESUBTYPE
			and
			a.LOGTYPE = b.LOGTYPE
			and
			a.SUBLOGTYPE = b.SUBLOGTYPE
			and
			a.METHOD= '外部访问' 
			and b.WARNINGSTARTTIME >= to_char(sysdate,'yyyy-MM-dd')
		</select>
		
		<select id="getMethod5LocalNum" resultType="java.lang.Integer">
			select
			count(1)
			from
			THREAT_GROUP_LOGSUBTYPE a,REALTIME_WARNING b
			where
			a.PLATFORMTYPE = b.PLATFORMTYPE
			and
			a.DEVICESUBTYPE = b.DEVICESUBTYPE
			and
			a.LOGTYPE = b.LOGTYPE
			and
			a.SUBLOGTYPE = b.SUBLOGTYPE
			and
			a.THREAT = '外部威胁' 
			and b.WARNINGSTARTTIME >= to_char(sysdate,'yyyy-MM-dd')
		</select>
		
		<select id="getMethod6LocalNum" resultType="java.lang.Integer">
			select
			count(1)
			from
			THREAT_GROUP_LOGSUBTYPE a,REALTIME_WARNING b
			where
			a.PLATFORMTYPE = b.PLATFORMTYPE
			and
			a.DEVICESUBTYPE = b.DEVICESUBTYPE
			and
			a.LOGTYPE = b.LOGTYPE
			and
			a.SUBLOGTYPE = b.SUBLOGTYPE
			and
			a.THREAT = '主站威胁' 
			and b.WARNINGSTARTTIME >= to_char(sysdate,'yyyy-MM-dd')
		</select>
		
</mapper>