<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.CrossCountry.Survey.mapper.dongl.InputCommonDao">

	<select id="getInputAreaEntity"
		resultType="com.CrossCountry.Survey.modelvo.dongl.InputAreaEntity">

		select SECURITYAREA as sarea,JOINNUM as numCount,RATE as rate from LSV_JOININFO_VIEW order by
		SECURITYAREA;

	</select>
</mapper>