<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper
	namespace="com.CrossCountry.Survey.mapper.dongl.OnlineRateAndSecretPassDao">

	<select id="getSecretPassRateEntity"
		resultType="com.CrossCountry.Survey.modelvo.dongl.SecretPassRateEntity">
		SELECT
		STIME AS STIME,
		SUM(DECRYPTPACKAGE) AS CLEARTRAFFIC,
		SUM(ENCRYPTPACKAGE) AS SECRETPASSFLOW,
		SUM(ENCRYPTPACKAGE +
		DECRYPTPACKAGE) AS TRAFFIC
		FROM
		DATA_VEADENCRYPTEDRATE_REAL
		where
		REPORTTIME = to_char(sysdate,'yyyy-mm-dd')
		group by
		STIME
		order by
		STIME
		desc
		limit 1

	</select>




	<select id="getOnlineRateEntity"
		resultType="com.CrossCountry.Survey.modelvo.dongl.OnlineRateEntity">
		 SELECT
        STIME AS STIME,
        sum(a.OFFLINE) AS OFFLINE,
        sum(a.ONLINE) AS ONLINE, 
        sum(a.OFFLINE) + sum(a.ONLINE) as TOTAL
        FROM (select to_char(MAX(REPORTTIME),'yyyy-MM-dd') as REPORTTIME 
        from DATA_DEVONLINERATE_REAL) b,  
        DATA_DEVONLINERATE_REAL a,MONITOROBJECTSTATUS C,MONITOROBJECT d  
        where to_char(a.REPORTTIME,'yyyy-MM-dd') = b.REPORTTIME 
        and a.ID=c.ID and c.RUNSTATE in (0, 1) and d.isdelete = 0 
        and c.ID = d.ID AND d.MONITOROBJECTTYPE in (0,1,4,5,6)  
        group by a.STIME
        order by
        STIME desc
		limit 1
	</select>


</mapper>