<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper
	namespace="com.CrossCountry.Survey.mapper.dongl.SecretTopTenCommonDao">

	<select id="getSecretTopTen"
		resultType="com.CrossCountry.Survey.modelvo.dongl.SecretTopTen">
	select case when lineSum = 0 then 0 else (onlinetime/lineSum)*100 end as allName,  
    name AS name ,dectotal AS dectotal ,enctotal AS enctotal ,encintnum  AS encintnum from( select a.NAME AS name ,a.dectotal AS dectotal ,
    a.enctotal AS enctotal, (ISNULL(a.onlinetime, 0) + ISNULL(a.outlinetime, 0)) as lineSum,
    ISNULL(a.onlinetime, 0) AS onlinetime ,b.encintnum AS encintnum 
    from LSV_BJSJ a join LSV_BJSJENC b on  a.name = b .name);
	</select>

</mapper>