<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper
	namespace="com.CrossCountry.Survey.mapper.shichf.ScreenSecretPassRateDao">
	<resultMap
		type="com.CrossCountry.Survey.modelvo.shichf.SecretPassRate"
		id="secretPassRateList">
		<result property="stime" column="stime" />
		<result property="secretpassflow" column="secretpassflow" />
		<result property="cleartraffic" column="cleartraffic" />
		<result property="traffic" column="traffic" />
	</resultMap>
	<select id="getSecretPassRate" resultMap="secretPassRateList">
		SELECT
		STIME as stime,
		SUM(DECRYPTPACKAGE) AS cleartraffic,
		SUM(ENCRYPTPACKAGE) AS secretpassflow,
		SUM(ENCRYPTPACKAGE + DECRYPTPACKAGE) AS traffic
		FROM
		DATA_VEADENCRYPTEDRATE_REAL
		where REPORTTIME = to_char(sysdate,'yyyy-mm-dd')
		group by
		STIME
		order by
		STIME
	</select>

	<select id="getOnlineRateEntityList"
		resultType="com.CrossCountry.Survey.modelvo.shichf.OnlineRateEntity">
		SELECT
		STIME AS stime,
		sum(a.OFFLINE) AS offline,
		sum(a.ONLINE) AS online,
		sum(a.OFFLINE) + sum(a.ONLINE) as total
		FROM (select to_char(MAX(REPORTTIME),'yyyy-MM-dd') as REPORTTIME
		from DATA_DEVONLINERATE_REAL) b,
		DATA_DEVONLINERATE_REAL a,MONITOROBJECTSTATUS C,MONITOROBJECT d
		where to_char(a.REPORTTIME,'yyyy-MM-dd') = b.REPORTTIME
		and a.ID=c.ID and c.RUNSTATE in (0, 1) and d.isdelete = 0
		and c.ID = d.ID AND d.MONITOROBJECTTYPE in (0,1,4,5,6)
		group by a.STIME
		order by
		STIME
		<!-- SELECT STIME AS stime, sum(a.OFFLINE) AS offline, sum(a.ONLINE) AS 
			online, sum(a.OFFLINE) + sum(a.ONLINE) as total FROM (select to_char(MAX(REPORTTIME),'yyyy-MM-dd') 
			as REPORTTIME from DATA_DEVONLINERATE_REAL) b, DATA_DEVONLINERATE_REAL a 
			where to_char(a.REPORTTIME,'yyyy-MM-dd') = b.REPORTTIME group by a.STIME 
			order by STIME -->
	</select>

	<select id="getRealtimeStatisticsAllListByStime"
		resultType="com.CrossCountry.Survey.modelvo.shichf.RealtimeStatisticsAllEntity">
		SELECT 
		STIME as stime, 
		SUM(onlinetime) AS onlinetime,
		SUM(outlinetime) AS outlinetime,
		SUM(DECTOTAL) AS cleartraffic,
		SUM(ENCTOTAL) AS secretpassflow,
		SUM(DECTOTAL + ENCTOTAL) AS traffic
		FROM REALTIME_CAS_STATISTICS_ALL
		where 1=1 and WARNINGTIME >= to_char(sysdate,'yyyy-MM-dd') 
		and onlinetime >= 0 and onlinetime &lt; 1440000000 and 
		outlinetime >= 0 and outlinetime &lt; 1440000000 and DECTOTAL >= 0 and ENCTOTAL >= 0 
		<if test="name!=null and name !='' ">   
		and PROVINCE_NAME = #{name,jdbcType=VARCHAR} 
		</if>
		group by
		STIME
		order by
		STIME
	</select>
	
	<select id="getRealtimeStatisticsAllCenter"
		resultType="com.CrossCountry.Survey.modelvo.shichf.RealtimeStatisticsAllEntity">
		select  cc.stime as stime,cc.onlinetime AS onlinetime,
		cc.outlinetime AS outlinetime,mr.name AS name       
		FROM (select MIDFID,stime,SUM(onlinetime) AS onlinetime,
		SUM(outlinetime) AS outlinetime    
		from
		REALTIME_CAS_STATISTICS_ALL c
		,JSQY js,MONITOROBJECT mo,(
                select distinct a.INDEXID,a.name,a.MIDFID from MAP_REGION a, (select distinct name, MIDFID from 
                MAP_REGION where REGIONLEVEL = 1 ) b 
                where b.MIDFID = a.MIDFID and a.REGIONLEVEL = 1  
                ) mj  
		where 1=1 and js.REGIONAL = mo.REGIONAL and c.Id = mo.ID and js.XZID = mj.INDEXID 
		and WARNINGTIME >= to_char(sysdate,'yyyy-MM-dd') 
		and onlinetime >= 0 and onlinetime &lt; 1440000000 and 
		outlinetime >= 0 and outlinetime &lt; 1440000000  
		group by mj.MIDFID,stime) cc,(select max(stime) as stime,MIDFID as MIDFID     
		from
		REALTIME_CAS_STATISTICS_ALL c
		,JSQY js,MONITOROBJECT mo,(
                select distinct a.INDEXID,a.name,a.MIDFID from MAP_REGION a, (select distinct name, MIDFID from 
                MAP_REGION where REGIONLEVEL = 1 ) b 
                where b.MIDFID = a.MIDFID and a.REGIONLEVEL = 1  
                ) mj  
		where 1=1 and js.REGIONAL = mo.REGIONAL and c.Id = mo.ID and js.XZID = mj.INDEXID 
		and WARNINGTIME >= to_char(sysdate,'yyyy-MM-dd') 
		and onlinetime >= 0 and onlinetime &lt; 1440000000 and 
		outlinetime >= 0 and outlinetime &lt; 1440000000  
		group by mj.MIDFID) dd, MAP_REGION mr where 
		cc.stime = dd.stime and cc.MIDFID = dd.MIDFID and 
		mr.REGIONLEVEL = 1 and mr.INDEXID = mr.MIDFID and mr.INDEXID = cc.MIDFID
	</select>


	<select id="getRealtimeStatisticsAllEntity"
		resultType="com.CrossCountry.Survey.modelvo.shichf.RealtimeStatisticsAllEntity">
		SELECT
		SUM(onlinetime) AS onlinetime,
		SUM(outlinetime) AS outlinetime,
		SUM(DECTOTAL) AS cleartraffic,
		SUM(ENCTOTAL) AS secretpassflow,
		SUM(DECTOTAL + ENCTOTAL) AS traffic
		FROM REALTIME_CAS_STATISTICS_ALL
		where 1=1 and onlinetime >= 0 and onlinetime &lt; 1440000000 and 
		outlinetime >= 0 and outlinetime &lt; 1440000000 and DECTOTAL >= 0 and ENCTOTAL >= 0   
		<if test="beginDate!=null and beginDate !=''">
			and warningtime &gt;=#{beginDate,jdbcType=VARCHAR}
		</if>
		<if test="endDate!=null and endDate !=''">
			and warningtime &lt;=#{endDate,jdbcType=VARCHAR}
		</if>
	</select>
	
	<select id="getRealtimeStatisticsAllEntityByOnlinesql"
		resultType="com.CrossCountry.Survey.modelvo.shichf.RealtimeStatisticsAllEntity">
		SELECT
		SUM(onlinetime) AS onlinetime,
		SUM(outlinetime) AS outlinetime,
		SUM(DECTOTAL) AS cleartraffic,
		SUM(ENCTOTAL) AS secretpassflow,
		SUM(DECTOTAL + ENCTOTAL) AS traffic
		FROM REALTIME_CAS_STATISTICS_ALL
		where 1=1 and onlinetime >= 0 and onlinetime &lt; 1440000000 and 
		outlinetime >= 0 and outlinetime &lt; 1440000000 and DECTOTAL >= 0 and ENCTOTAL >= 0  
		and ${onlinesql}  
	</select>

	<select id="getRealtimeStatisticsAllEntityLowByName"
		resultType="com.CrossCountry.Survey.modelvo.shichf.RealtimeStatisticsAllEntity">
		SELECT
		SUM(onlinetime) AS onlinetime,
		SUM(outlinetime) AS outlinetime,
		SUM(DECTOTAL) AS cleartraffic,
		SUM(ENCTOTAL) AS secretpassflow,
		SUM(DECTOTAL + ENCTOTAL) AS traffic
		FROM REALTIME_CAS_STATISTICS_ALL
		where 1=1 and onlinetime >= 0 and onlinetime &lt; 1440000000 and 
		outlinetime >= 0 and outlinetime &lt; 1440000000 and DECTOTAL >= 0 and ENCTOTAL >= 0   
		<if test="beginDate!=null and beginDate !=''">
			and warningtime &gt;=#{beginDate,jdbcType=VARCHAR}
		</if>
		<if test="endDate!=null and endDate !=''">
			and warningtime &lt;=#{endDate,jdbcType=VARCHAR}
		</if>
		<if test="name!=null and name !='' ">
			and PROVINCE_NAME = #{name,jdbcType=VARCHAR}
			<!--and LOCAL_NAME != #{name,jdbcType=VARCHAR}  -->
		</if>
	</select>
	<select id="getRealtimeStatisticsAllEntityByName" 
	resultType="com.CrossCountry.Survey.modelvo.shichf.RealtimeStatisticsAllEntity">
		SELECT 
		STIME as stime, 
		SUM(onlinetime) AS onlinetime,
		SUM(outlinetime) AS outlinetime,
		SUM(DECTOTAL) AS cleartraffic,
		SUM(ENCTOTAL) AS secretpassflow,
		SUM(DECTOTAL + ENCTOTAL) AS traffic
		FROM REALTIME_CAS_STATISTICS_ALL
		where 1=1 and WARNINGTIME >= to_char(sysdate,'yyyy-MM-dd') 
		and onlinetime >= 0 and onlinetime &lt; 1440000000 and 
		outlinetime >= 0 and outlinetime &lt; 1440000000 and DECTOTAL >= 0 and ENCTOTAL >= 0  
		<if test="name!=null and name !='' ">   
		and PROVINCE_NAME = #{name,jdbcType=VARCHAR} 
		and LOCAL_NAME = #{name,jdbcType=VARCHAR} 
		</if>
		group by
		STIME
		order by
		STIME
		
		
		<!--SELECT
		SUM(onlinetime) AS onlinetime,
		SUM(outlinetime) AS outlinetime,
		SUM(DECRYPTPACKAGE) AS cleartraffic,
		SUM(ENCRYPTPACKAGE) AS secretpassflow,
		SUM(ENCRYPTPACKAGE + DECRYPTPACKAGE) AS traffic
		FROM REALTIME_CAS_STATISTICS_ALL
		where 1=1 and WARNINGTIME >= to_char(sysdate,'yyyy-MM-dd') 
		 and onlinetime > 0 and outlinetime > 0 and DECRYPTPACKAGE > 0 and ENCRYPTPACKAGE > 0   
		and PROVINCE_NAME = #{name,jdbcType=VARCHAR}
		and LOCAL_NAME = #{name,jdbcType=VARCHAR}  -->
	</select>

	<select id="getRealtimeStatisticsAllListLowByName"
		resultType="java.lang.String">
		SELECT
		WARNINGTIME as warningtime
		FROM REALTIME_CAS_STATISTICS_ALL
		where 1=1 and WARNINGTIME >= to_char(sysdate,'yyyy-MM-dd') 
		 and onlinetime >= 0 and onlinetime &lt; 1440000000 and 
		outlinetime >= 0 and outlinetime &lt; 1440000000 and DECTOTAL >= 0 and ENCTOTAL >= 0   
		<if test="name!=null and name !='' ">
			and PROVINCE_NAME = #{name,jdbcType=VARCHAR}
			<!--and LOCAL_NAME != #{name,jdbcType=VARCHAR}  -->
		</if>
		order by warningtime
	</select>
	

	<select id="getUrgentWarningsLocalCount"
		resultType="java.lang.Integer">
		select count(1) as count FROM
		REALTIME_WARNING WHERE WARNINGLEVEL = 0 GROUP BY WARNINGLEVEL
	</select>

	<select id="getImportantWarningsLocalCount"
		resultType="java.lang.Integer">
		select count(1) as count FROM
		REALTIME_WARNING WHERE WARNINGLEVEL = 1 GROUP BY WARNINGLEVEL
	</select>

	<select id="getUrgentWarningsLowCount"
		resultType="java.lang.Integer">
		select
		SUM(EMERGNUM) as count
		from
		jsqy a,monitorobject b,data_upreportrealtimestatistics c,map_region d
		where a.regional = b.regional and b.id = c.id and a.xzid = d.indexid
		<if test="name!=null and name !='' ">
			and (
			d.INDEXID = (SELECT INDEXID FROM map_region AA WHERE name =
			#{name,jdbcType=VARCHAR}))
		</if>
	</select>

	<select id="getImportantWarningsLowCount"
		resultType="java.lang.Integer">
		select
		SUM(ERRNUM) as count
		from
		jsqy a,monitorobject b,data_upreportrealtimestatistics c,map_region d
		where a.regional = b.regional and b.id = c.id and a.xzid = d.indexid
		<if test="name!=null and name !='' ">
			and (
			d.INDEXID = (SELECT INDEXID FROM map_region AA WHERE name =
			#{name,jdbcType=VARCHAR}))
		</if>
	</select>

	<select id="getSecrityDays" resultType="java.lang.String">
		select CONF_VALUE as secrityDays from CONF_SYSTEMPARAMETER where CONF_ID =
		'SECRITY_START_DAYS'
	</select>
</mapper>