<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.CrossCountry.Survey.mapper.jiabo.NetSecurityVerificaDao">
    <select id="getNetSecurityVerifica" resultType="com.CrossCountry.Survey.modelvo.jiabo.NetSecurityVerificaPo">
        SELECT
                CVSILEGALNUM AS ncomplianceTotal,
                VBSNUM AS holesTotal,
                (CVSLEGALNUM+CVSILEGALNUM) AS total,
                (VBSNUM-VBSILEGALNUM) AS failureCompliance,
                CVSLEGALNUM AS compliance,
                decode((CVSLEGALNUM+CVSILEGALNUM),0,0,Convert(decimal(18,1),(CVSLEGALNUM/(CVSLEGALNUM+CVSILEGALNUM))*100))||'%' AS complianceRate,
                decode(VBSNUM,0,0,Convert(decimal(18,1),((VBSNUM-VBSILEGALNUM)/VBSNUM)*100))||'%' AS leakageRate,
                VBSILEGALNUM AS vulnerabiAssets
        FROM
                LSV_CHECKAMOUNT_ALL_VIEW
    </select>
</mapper>