<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.CrossCountry.Survey.mapper.jiabo.SecretPassAndWarnSolveDao">
    <select id="getSecretPassAndWarnSolve" resultType="com.CrossCountry.Survey.modelvo.jiabo.SecretPassAndWarnSolvePo">
        SELECT
                LPR.NAME AS name,
                NVL(LS.UNSOLVEDNUM,0) AS unsolved,
                NVL(LS.SOLVEDNUM,0)   AS resolved,
                NVL(LS.ENCRYPTEDRATE,'0%') AS secretPass,
                NVL(LS.ONLINERATE,'0%')    AS online
        FROM
                LSV_PROVINCE_REGIONAL_VIEW AS LPR
        LEFT JOIN
                LSV_SUPRATE AS LS
        ON
                LPR.NAME = LS.PROVINCE_NAME
        ORDER BY
                LPR.ORDER_INDEX
    </select>
</mapper>