<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.CrossCountry.Survey.mapper.jiabo.TunnelAndStrategyDao">
    <select id="getTunnelAndStrategy"
            resultType="com.CrossCountry.Survey.modelvo.jiabo.TunnelAndStrategyPo">
        SELECT LOCAL_NAME AS name,
               DEVICECOUNT AS equipVerified,
               decode(VEADPOLICYNUM,0,0,Convert(decimal(18,1),(VEADILEGALPOLICYNUM/VEADPOLICYNUM)*100))||'%' AS propStrategyProblems,
               decode(VEADTUNNELNUM,0,0,Convert(decimal(18,1),(VEADILEGALTUNNELNUM/VEADTUNNELNUM)*100))||'%' AS propTunnelProblems,
               VEADTUNNELNUM+VEADPOLICYNUM AS problemsNumber
        FROM
               LSV_VEAD_INFO
    </select>
</mapper>