<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CrossCountry.Survey.mapper.wangkun.ChangeAndTopFDao">
    <select id="getChangeNums" resultType="com.CrossCountry.Survey.modelvo.wangkun.ChangeNumVO">
      select NAME  AS  name,
      COUNT AS num
      from LSV_TOTALCHANGETIMES

    </select>

    <select id="getTopFiveList" resultType="com.CrossCountry.Survey.modelvo.wangkun.TopFiveWarnVO">

      select NAME AS warntypeName,
      COUNT AS num
      from LSV_SAFETYEVENTWEEK
      ORDER BY COUNT DESC limit 5

    </select>
</mapper>
