<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper
	namespace="com.CrossCountry.Survey.mapper.wangkun.LastSecurityEventDao">
	<select id="getSecurityEventNums" resultType="java.lang.Integer">
		<!--  SELECT
		count(1) as
		nums
		FROM
		(select distinct PLATFORMTYPE,LOGTYPE,SUBLOGTYPE,SECURITYEVENT
		from THREAT_GROUP_LOGSUBTYPE) a,
		REALTIME_WARNING b
		WHERE
		a.PLATFORMTYPE =
		b.PLATFORMTYPE
		and
		a.LOGTYPE = b.LOGTYPE
		and
		a.SUBLOGTYPE = b.SUBLOGTYPE
		and
		a.SECURITYEVENT = 1  and b.CONFIRMSTATE != 3 
		and b.WARNINGSTARTTIME >= to_char(sysdate,'yyyy-MM-dd')
		and ((remoteProvince is not null and remoteProvince != 'NULL' AND
		remoteProvince != 'null'
		and localProvince is not null and localProvince != 'NULL' and
		localProvince != 'null')
		or ((remoteProvince is null or remoteProvince = 'NULL' or remoteProvince
		= 'null')
		and (localProvince is null or localProvince = 'NULL' or localProvince =
		'null')))-->

		select  count(1) as
		nums
		from (select distinct j.REMARK as REMARK ,j.REGIONAL as REGIONAL,
		j.shortname as shortname,j.voltageclass as voltageclass from JSQY j 
		) e
		, (select r.REGIONAL as REGIONAL,  MAX(r.WARNINGTIME) as WARNINGTIME,
		MIN(r.WARNINGLEVEL) as WARNINGLEVEL,d.proviceName as proviceName,
		d.remoteProvice,d.localProvice,d.describe 
		from REALTIME_WARNING r,(SELECT 
		REGIONAL,
		WARNINGLEVEL,
		PROVINCE_NAME as proviceName,
		REMOTEPROVINCE as
		remoteProvice,
		LOCALPROVINCE as localProvice,
		max(WARNINGSTARTTIME) as
		warningtimes,
		CONTENT as describe,
		'' as warningSloveState
		FROM
		(select distinct
		PLATFORMTYPE,LOGTYPE,SUBLOGTYPE,SECURITYEVENT
		from THREAT_GROUP_LOGSUBTYPE) a,
		REALTIME_WARNING b
		WHERE
		a.PLATFORMTYPE =
		b.PLATFORMTYPE
		and
		a.LOGTYPE = b.LOGTYPE
		and
		a.SUBLOGTYPE = b.SUBLOGTYPE
		and
		a.SECURITYEVENT = 1  and b.CONFIRMSTATE != 3 and WARNINGLEVEL IN (0,1) 
		and b.WARNINGSTARTTIME >= to_char(sysdate,'yyyy-MM-dd')
		and
		((remoteProvince is not null and remoteProvince != 'NULL' AND
		remoteProvince != 'null'
		and localProvince is not null and localProvince != 'NULL' and
		localProvince != 'null')
		or ((remoteProvince is null or remoteProvince = 'NULL' or remoteProvince
		= 'null')
		and (localProvince is null or localProvince = 'NULL' or localProvince =
		'null'))) 
		group by REGIONAL,WARNINGLEVEL,PROVINCE_NAME,REMOTEPROVINCE,LOCALPROVINCE,CONTENT ) d 
		where r.WARNINGTIME = d.warningtimes and r.REGIONAL = d.REGIONAL and r.WARNINGLEVEL = d.WARNINGLEVEL
		group by r.REGIONAL,d.WARNINGLEVEL,d.proviceName,d.remoteProvice,d.localProvice,d.describe ) c
		where e.REGIONAL = c.REGIONAL  


	</select>
	
	<select id="getSecurityEventToSolvedNums" resultType="java.lang.Integer">
		<!--  SELECT
		count(1) as
		nums
		FROM
		(select distinct PLATFORMTYPE,LOGTYPE,SUBLOGTYPE,SECURITYEVENT
		from THREAT_GROUP_LOGSUBTYPE) a,
		REALTIME_WARNING b
		WHERE
		a.PLATFORMTYPE =
		b.PLATFORMTYPE
		and
		a.LOGTYPE = b.LOGTYPE
		and
		a.SUBLOGTYPE = b.SUBLOGTYPE
		and
		a.SECURITYEVENT = 1 and b.CONFIRMSTATE != 3 
		and b.WARNINGSTARTTIME >= to_char(sysdate,'yyyy-MM-dd')
		and ((remoteProvince is not null and remoteProvince != 'NULL' AND
		remoteProvince != 'null'
		and localProvince is not null and localProvince != 'NULL' and
		localProvince != 'null')
		or ((remoteProvince is null or remoteProvince = 'NULL' or remoteProvince
		= 'null')
		and (localProvince is null or localProvince = 'NULL' or localProvince =
		'null')))-->

		select  count(1) as
		nums
		from (select distinct j.REMARK as REMARK ,j.REGIONAL as REGIONAL,
		j.shortname as shortname,j.voltageclass as voltageclass from JSQY j 
		) e
		, (select r.REGIONAL as REGIONAL,  MAX(r.WARNINGTIME) as WARNINGTIME,
		MIN(r.WARNINGLEVEL) as WARNINGLEVEL,d.proviceName as proviceName,
		d.remoteProvice,d.localProvice,d.describe 
		from REALTIME_WARNING r,(SELECT 
		REGIONAL,
		WARNINGLEVEL,
		PROVINCE_NAME as proviceName,
		REMOTEPROVINCE as
		remoteProvice,
		LOCALPROVINCE as localProvice,
		max(WARNINGSTARTTIME) as
		warningtimes,
		CONTENT as describe,
		'' as warningSloveState
		FROM
		(select distinct
		PLATFORMTYPE,LOGTYPE,SUBLOGTYPE,SECURITYEVENT
		from THREAT_GROUP_LOGSUBTYPE) a,
		REALTIME_WARNING b
		WHERE
		a.PLATFORMTYPE =
		b.PLATFORMTYPE
		and
		a.LOGTYPE = b.LOGTYPE
		and
		a.SUBLOGTYPE = b.SUBLOGTYPE
		and
		a.SECURITYEVENT = 1  and b.CONFIRMSTATE != 3 and WARNINGLEVEL IN (0,1) 
		and b.WARNINGSTARTTIME >= to_char(sysdate,'yyyy-MM-dd')
		and
		((remoteProvince is not null and remoteProvince != 'NULL' AND
		remoteProvince != 'null'
		and localProvince is not null and localProvince != 'NULL' and
		localProvince != 'null')
		or ((remoteProvince is null or remoteProvince = 'NULL' or remoteProvince
		= 'null')
		and (localProvince is null or localProvince = 'NULL' or localProvince =
		'null'))) 
		group by REGIONAL,WARNINGLEVEL,PROVINCE_NAME,REMOTEPROVINCE,LOCALPROVINCE,CONTENT ) d 
		where r.WARNINGTIME = d.warningtimes and r.REGIONAL = d.REGIONAL and r.WARNINGLEVEL = d.WARNINGLEVEL
		group by r.REGIONAL,d.WARNINGLEVEL,d.proviceName,d.remoteProvice,d.localProvice,d.describe ) c
		where e.REGIONAL = c.REGIONAL 

	</select>

	<select id="getTopOneHundredEvent"
		resultType="com.CrossCountry.Survey.modelvo.wangkun.SecurityEventVo">
		<!--SELECT
		PROVINCE_NAME as proviceName,
		REMOTEPROVINCE as
		remoteProvice,
		LOCALPROVINCE as localProvice,
		WARNINGSTARTTIME as
		warningTime,
		CONTENT as describe,
		'' as warningSloveState
		FROM
		(select distinct
		PLATFORMTYPE,LOGTYPE,SUBLOGTYPE,SECURITYEVENT
		from THREAT_GROUP_LOGSUBTYPE) a,
		REALTIME_WARNING b
		WHERE
		a.PLATFORMTYPE =
		b.PLATFORMTYPE
		and
		a.LOGTYPE = b.LOGTYPE
		and
		a.SUBLOGTYPE = b.SUBLOGTYPE
		and
		a.SECURITYEVENT = 1  and b.CONFIRMSTATE != 3 
		and b.WARNINGSTARTTIME >= to_char(sysdate,'yyyy-MM-dd')
		and
		((remoteProvince is not null and remoteProvince != 'NULL' AND
		remoteProvince != 'null'
		and localProvince is not null and localProvince != 'NULL' and
		localProvince != 'null')
		or ((remoteProvince is null or remoteProvince = 'NULL' or remoteProvince
		= 'null')
		and (localProvince is null or localProvince = 'NULL' or localProvince =
		'null')))
		ORDER BY WARNINGTIME DESC
		LIMIT 100 OFFSET 0  -->

		select  e.shortname as proviceName,
		c.remoteProvice as
		remoteProvice,
		c.localProvice as localProvice,
		c.WARNINGTIME as
		warningTime,
		c.describe as describe,
		'' as warningSloveState
		from (select distinct j.REMARK as REMARK ,j.REGIONAL as REGIONAL,
		j.shortname as shortname,j.voltageclass as voltageclass from JSQY j 
		) e
		, (select r.REGIONAL as REGIONAL,  MAX(r.WARNINGTIME) as WARNINGTIME,
		MIN(r.WARNINGLEVEL) as WARNINGLEVEL,d.proviceName as proviceName,
		d.remoteProvice,d.localProvice,d.describe 
		from REALTIME_WARNING r,(SELECT 
		REGIONAL,
		WARNINGLEVEL,
		PROVINCE_NAME as proviceName,
		REMOTEPROVINCE as
		remoteProvice,
		LOCALPROVINCE as localProvice,
		max(WARNINGSTARTTIME) as
		warningtimes,
		CONTENT as describe,
		'' as warningSloveState
		FROM
		(select distinct
		PLATFORMTYPE,LOGTYPE,SUBLOGTYPE,SECURITYEVENT
		from THREAT_GROUP_LOGSUBTYPE) a,
		REALTIME_WARNING b
		WHERE
		a.PLATFORMTYPE =
		b.PLATFORMTYPE
		and
		a.LOGTYPE = b.LOGTYPE
		and
		a.SUBLOGTYPE = b.SUBLOGTYPE
		and
		a.SECURITYEVENT = 1  and b.CONFIRMSTATE != 3 and WARNINGLEVEL IN (0,1) 
		and b.WARNINGSTARTTIME >= to_char(sysdate,'yyyy-MM-dd')
		and
		((remoteProvince is not null and remoteProvince != 'NULL' AND
		remoteProvince != 'null'
		and localProvince is not null and localProvince != 'NULL' and
		localProvince != 'null')
		or ((remoteProvince is null or remoteProvince = 'NULL' or remoteProvince
		= 'null')
		and (localProvince is null or localProvince = 'NULL' or localProvince =
		'null'))) 
		group by REGIONAL,WARNINGLEVEL,PROVINCE_NAME,REMOTEPROVINCE,LOCALPROVINCE,CONTENT ) d 
		where r.WARNINGTIME = d.warningtimes and r.REGIONAL = d.REGIONAL and r.WARNINGLEVEL = d.WARNINGLEVEL
		group by r.REGIONAL,d.WARNINGLEVEL,d.proviceName,d.remoteProvice,d.localProvice,d.describe ) c
		where e.REGIONAL = c.REGIONAL 
		ORDER BY warningTime DESC
		LIMIT 100 OFFSET 0
	</select>
</mapper>