<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper
	namespace="com.CrossCountry.Survey.mapper.donggs.TerraceDeviceNumberDao">

	<select id="getTerraceDevice" resultType="com.CrossCountry.Survey.modelvo.donggs.JustableNumber">
	
		select a.LEVEL AS justableName ,COUNT(*) AS justableNum
		from STATE_NATIONAL_PLATFORM_INFO a GROUP BY  a.LEVEL 
	</select>
</mapper>